body {
  margin-bottom: 60px;
}

$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

@mixin responsive($device) {
  @if $device == xl {
    // For resolutions upper 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  } @else if $device == l {
    // For resolutions between 1140px and 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  } @else if $device == m {
    // For resolutions between 960px and 1440px
    @media screen and (max-width: $container-l) and (min-width: $container-s) {
      @content;
    }
  } @else if $device == s {
    // For resolutions less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  } @else if $device == xs {
    // For resolutions less than 540px
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

.top {
  color: black;
  display: flex;
  width: 100%;
  background-color: black;
  height: 35px;
  justify-content: center;
  margin-top: 10px;
  p {
    @include responsive(s) {
      display: none;
    }
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    padding: 20px;
    font-family: Open Sans Condensed, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5em;
  }
  span {
    background-color: var(--yellow);
  }
}
.add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  button {
    align-items: center;

    justify-content: center;
    width: 100%;
    outline-style: none;
    margin-bottom: -10px;
  }
  button.contagem {
    text-align: center;
    width: 60px;
    align-items: center;
  }
}

.contagem {
  width: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: black;
  border-top: 1px solid var(--light-black);
  border-bottom: 1px solid var(--light-black);
  border-radius: 0px;
}
.cart-count {
  position: relative;
  right: 8px;
  top: -13px;
  z-index: 1;
  background-color: red;

  text-align: center;
  padding: 4px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #fff;
}

.Beers-container {
  padding-top: 40px;
  @include responsive(s) {
    width: 100%;

    flex-direction: column;
  }
  flex-direction: column;
  width: 100%;
  display: flex;

  max-width: 1400px;

  margin: 0 auto;
  margin-bottom: 20px;

  justify-content: center;
  .container_beers {
    @include responsive(xs) {
      width: 90%;
    }
    list-style: none;
    width: 40%;
    margin-top: 20px;

    margin: 0 auto;
  }

  li {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 2px 10px 2px;
    display: flex;
    margin: 4px;
    flex-direction: column;
    width: 100%;

    background: var(--white);
    border-radius: 10px;
  }
  li:hover {
    box-shadow: 0 0 1em var(--light-black);
  }
}
.container_beers {
  .description {
    font-size: 13px;
    color: #c4c4c4;
    font-weight: bold;
    margin-bottom: 1px;
  }
  .title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .img {
    object-fit: contain;
    padding-bottom: 10px;
  }
}
.total {
  font-size: 24px;
  font-weight: bold;
}
.lixo {
  @include responsive(xs) {
    margin-right: -200px;
  }
  cursor: pointer;

  margin-right: -360px;
  width: 400px;
  display: flex;

  align-items: center;
}

.h1 {
  padding-top: 200px;
  font-size: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

.finish {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  width: 190px;
  font-size: 1.5rem;
  align-content: center;
  justify-content: center;
  align-items: center;
}

button.btn-finalizado {
  max-width: 200px;

  margin-top: 40px;
  margin-left: 60px;
  width: 100%;
  height: 100%;
}

.Fale-p {
  @include responsive(xs) {
    margin-top: -15px;
  }
  a {
    @include responsive(xs) {
      color: var(--yellow);
    }
  }
}
.Fale {
  @include responsive(s and xs) {
    margin-left: 1px;
    padding-bottom: 1px;
  }
  a {
    @include responsive(xs) {
      border: none;
    }
    border-bottom: 8px solid var(--yellow);
    padding-bottom: 10px;
    margin-left: 10px;
  }
}
