:root {
  --yellow: #ffa935;
  --orange:#fc591f;
  --light_gray: #f0f0f0;
  --dark-gray:#2b2e33;
  --dark-gray_1:#3f3f40;
  --white: #ffffff;
  --light-black: rgba(0, 0, 0, 0.2);
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



