.formulario{
    margin-top:60px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    h1{
        font-size:30px;
        text-transform:uppercase;
        padding-bottom: 20px;
   
    }
    .inputs{
        width:400px;
    }
    input{
        border-radius: 5px;
        width: 100%;
        margin-top:10px;
        height: 35px;
    }
    button{
        cursor:pointer;
        color:var(--black);
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 5px;
        height: 30px;
        background-color: var(--yellow);
        width: 100%;
        margin-top:10px;

    }
    
}

