:root {
  --yellow: #ffa935;
  --light_gray: #f0f0f0;
  --dark-gray:#2b2e33;
  --dark-gray_1:#3f3f40;
  --white: #ffffff;
  --light-black: rgba(0, 0, 0, 0.2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--light_gray);
  width: 100%;
}

.text-top{
  display:flex;
  width: 100%;
  background-color: #f0f0f0;
    height: 35px;
    justify-content: center;
  
    p{
      font-weight: 700;
      font-size: 18px;
      margin: 0;
     padding: 8px;
     font-family: Open Sans Condensed,sans-serif;
     color:var(--dark-gray);
     line-height: 1.5;
     
    }
    span{
      background-color: var(--yellow)
    }
}
header {
  background-color: var(--white);
  width: 100%;
  border-bottom: 5px solid var(--yellow);
  margin-top:30px;
  .navbar {
    height:140px;
    margin-top: -30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
  }
  .nav-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    img{
      margin-left: -50px;
    }
  }
}



.icons-header {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .icons {
    margin-left: 28px;
  }
}
