$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

@mixin responsive($device) {
  @if $device == xl {
    // For resolutions upper 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  } @else if $device == l {
    // For resolutions between 1140px and 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  } @else if $device == m {
    // For resolutions between 960px and 1440px
    @media screen and (max-width: $container-l) and (min-width: $container-s) {
      @content;
    }
  } @else if $device == s {
    // For resolutions less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  } @else if $device == xs {
    // For resolutions less than 540px
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

p {
  color: black;
}

.texttop {
  color: black;
  display: flex;
  width: 100%;
  background-color: black;
  height: 35px;
  justify-content: center;

  p {
    @include responsive(s) {
      display: none;
    }
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 20px;
    font-family: Open Sans Condensed, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5em;
  }
  span {
    background-color: var(--yellow);
  }
}
header.header {
  @include responsive(m) {
    flex-direction: column;
  }
  background-color: var(--white);
  height: 190px;
  width: 101%;
  border-bottom: 5px solid var(--yellow);
  margin-top: 1px;
  border-radius: 1px;

  .navbar {
    @include responsive(xs) {
      flex-direction: column;
    }
    width: 90%;
    margin-top: -30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1340px;
  }
  .nav-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    img {
      @include responsive(xs) {
        width: 130px;
        margin-left: 90%;
        margin-top: 1px;
      }
      width: 280px;
      margin-left: -50px;
      margin-top: -40px;
    }
  }
}

.icons-header {
  @include responsive(xs) {
  }
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .icons {
    margin-left: 28px;
  }
}

.categories {
  @include responsive(xs) {
    flex-direction: column;

    justify-content: start;
    align-items: start;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 0 auto;

  ul {
    @include responsive(xs) {
      margin-top: -25px;
      border: none;
    }
    border-right: 1px solid black;
    margin-top: 1px;
  }

  li {
    @include responsive(s) {
      margin: 9.5px;
    }
    display: flex;
    justify-content: space-between;

    margin: 15px;
    align-items: center;
  }
  a {
    @include responsive(s) {
      font-size: 15px;
    }
    @include responsive(xs) {
      font-size: 11px;
    }
    font-size: 18px;
    font-weight: bold;
    color: var(--dark-gray_1);
    text-decoration: none;
  }
  a:hover {
    @include responsive(xs) {
    }
    border-bottom: 8px solid var(--yellow);
    padding-bottom: 10px;
  }
}

.Fale-p {
  @include responsive(xs) {
    margin-top: -15px;
  }
  a {
    @include responsive(xs) {
      color: var(--yellow);
    }
  }
}
.Fale {
  @include responsive(s and xs) {
    margin: 0;
    padding-bottom: 1px;
  }
  a {
    @include responsive(xs) {
      border: none;
    }
    border-bottom: 8px solid var(--yellow);
    padding-bottom: 10px;
    margin-left: 10px;
  }
}
.input {
  @include responsive(s) {
    width: 250px;
  }
  @include responsive(xs) {
    display: none;
  }
  margin-top: 30px;

  width: 424px;

  input {
    @include responsive(s and m) {
      border-right: 1px solid #c1c1c1;
    }
    width: 100%;
    height: 48px;

    padding-top: 17px;
    border: 1px solid #c4c4c4;
    border-right: 0;
    border-radius: 1px;
    background: #fff;
    border-bottom: 1px solid #c1c1c1;
    display: flex;
  }
  input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }
}
.emporiodacerveja {
  @include responsive(s and xs) {
    display: none;
  }
  @include responsive(m) {
    display: none;
  }
  margin-top: 30px;
  background-color: var(--yellow);
  border: 1px solid transparent;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -150px;
  width: 65px;
  height: 48px;
  z-index: 1;
}

.Beers {
  @include responsive(s) {
    flex-direction: column;
  }

  display: flex;
  flex-direction: row;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 20px;

  justify-content: center;
  .container_beers {
    list-style: none;
    width: 100%;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  li {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 2px 10px 2px;
    display: flex;
    margin: 4px;
    flex-direction: column;

    height: 100%;
    background: var(--white);
    border-radius: 10px;
  }
  li:hover {
    box-shadow: 0 0 1em var(--light-black);
  }
}
.container_beers {
  .description {
    font-size: 13px;
    color: #c4c4c4;
    font-weight: bold;
    margin-bottom: 1px;
  }
  .title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .img {
    object-fit: contain;
    padding-bottom: 10px;
  }
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  padding: 0 1.5rem;

  margin: 0 auto;
  display: flex;
  align-items: center;
  list-style: none;

  background-color: var(--orange);
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  font-family: Open Sans Condensed;
  margin-top: 50px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.button:hover {
  color: white;
  background: black;
}

button :focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.text-beer {
  @include responsive(s) {
    text-align: center;
  }
  padding-left: 20px;
  padding-top: 40px;
  font-size: 30px;

  color: white;
}
